ROCKET_PORT=8000
ROCKET_ADDRESS=0.0.0.0
ACME_PORT=443
ACME_EMAIL='["your_email@your_domain.tld"]'
ROCKET_DATABASES='{enigmatick={url="postgres://username@localhost/enigmatick"}}'
ROCKET_LIMITS='{String=2000000,string=2000000}'
DATABASE_URL=postgres://username@localhost/enigmatick
SERVER_URL=https://enigmatick.social
SERVER_NAME=enigmatick.social
SYSTEM_USER=system
MEDIA_DIR=./media
REGISTRATION_ENABLED=false
REGISTRATION_APPROVAL_REQUIRED=true
REGISTRATION_MESSAGE="service in development"
INSTANCE_CONTACT=your_email@your_domain.tld
INSTANCE_TITLE=Enigmatick
INSTANCE_VERSION=0.0.1-alpha
INSTANCE_SOURCE_URL=https://gitlab.com/enigmatick
INSTANCE_DESCRIPTION="Enigmatick is an in-development service that will enable strong end-to-end privacy and provide users an open platform to publish both long-form articles and brief status updates."
# Optional: Path to custom landing page HTML file (see README for details)
# CUSTOM_INDEX_PATH=/path/to/custom-landing/index.html
