DATABASE_URL=postgres://enigmatick@localhost/enigmatick
SERVER_URL=http://172.16.227.130:8010
SERVER_NAME=172.16.227.130:8010
FAKTORY_URL=tcp://:password@localhost:7419
REGISTRATION_ENABLED=false
REGISTRATION_APPROVAL_REQUIRED=true
REGISTRATION_MESSAGE="service in development"
INSTANCE_CONTACT=justin@jdt.io
INSTANCE_TITLE=Enigmatick
INSTANCE_VERSION=0.0.1-alpha
INSTANCE_SOURCE_URL=https://gitlab.com/enigmatick
INSTANCE_DESCRIPTION="Enigmatick is an in-development service that will enable strong end-to-end privacy and provide users an open platform to publish both long-form articles and brief status updates."