ROCKET_PORT=8000
ROCKET_ADDRESS=0.0.0.0
ROCKET_DATABASES='{enigmatick={url="./db.sqlite"}}'
ROCKET_LIMITS='{String=2000000,string=2000000}'
DATABASE_URL=./db.sqlite
SERVER_URL=http://localhost:8000
SERVER_NAME=localhost:8000
SYSTEM_USER=system
MEDIA_DIR=./media
DEFAULT_AVATAR=icons/robot-mask.png
REGISTRATION_ENABLED=true
REGISTRATION_APPROVAL_REQUIRED=false
REGISTRATION_MESSAGE="service in development"
INSTANCE_CONTACT=your_email@your_domain.tld
INSTANCE_TITLE="Your Awesome Instance"
INSTANCE_VERSION=0.0.1-alpha
INSTANCE_SOURCE_URL=https://gitlab.com/enigmatick
INSTANCE_DESCRIPTION="Enigmatick is an in-development service that will enable strong end-to-end privacy and provide users an open platform to publish both long-form articles and brief status updates."
ACME_EMAIL='["email@example.com"]'
ACME_PROXY=true
